ion-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-shadow: none;
  background-color: #1a2037;
  z-index: 1000;
  height: 60px;

  .back-btn-header {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    left: 0;
  }

  .ion-title {
    color: white;
  }

  ion-badge {
    font-size: 10px;
    margin-right: 5px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
  }

}

ion-content {

  .category-holder {
    background-color: #f5f7fd;
    margin: 28px 0px 11px;
    text-align: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: fixed;
    top: 31px;
    z-index: 1;
    padding: 8px 11px;

    .category-btn-item {
      --border-radius: 30px;
      --padding-start: 8px;
      --padding-end: 8px;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --min-height: 36px;
      --font-size: 14px;
      --margin: 3px 2px;

      font-size: 11px;
      margin-inline: 4px;
      display: inline-block;
    }
  }

  ion-searchbar {
    --box-shadow: none;
    --background: #f3f3f3;
    --color: #1a2037;
    --border-radius: 1.2rem;
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.2;

    padding: 5px 0px 10px 0px;
  }

  .badge-price-item {
    background: #025b02;
    border-radius: 50px;
    padding-inline: 8px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: -4px;
  }
  .badge-quantity-price-item {
    background: #940101;
    border-radius: 50px;
    padding-inline: 8px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .item-title {
    font-size: 17px;
    color: #1a2037;
    text-transform: capitalize;
  }
  .img-item-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 65px;
    }
  }

  .decrease-btn {
    background-color: gray;
    color: white;
    padding: 2px 2px 2px 2px;
    display: flex;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    margin-top: 1px;
  }
  .increase-btn {
    background-color: gray;
    color: white;
    padding: 2px 2px 2px 2px;
    display: flex;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  .max-btn {
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100%;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
    margin-top: 5px;
  }

  .btn-col-container {
    position: revert-layer;
    left: 71%;
    top: -91px;
  }
}


ion-footer {

  .confirmer-btn {
    width: 100%;
    border-radius: 50px;
    color: white;
    background: linear-gradient(135deg, #016331 0%, #74975a 100%);
    font-weight: 600;
  }
}

ion-modal {

  ion-header {
    background-color: #f5f7fd;

    .btn-back {
      font-size: 25px;
      background: none;
      border: none;
      position: absolute;
      left: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  ion-content {

    .img-container {
      background-color: #e3dfdf;
      border-radius: 30px;
      margin: 60px 15px 30px 15px;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        max-width: 315px;
        margin: auto;
      }
    }

    .products-infos {
      margin-top: 30px;
      padding: 20px;

      .item-title {
        font-weight: 700;
        font-size: 17px;
        color: #1a2037;
        text-transform: capitalize;
        margin-bottom: 20px;
      }

      .item-price {
        color: #1a2037;
        font-size: 25px;
        font-family: none;
        text-transform: capitalize;
      }

      .add-btn-commande {
        width: 70%;
        font-size: 20px;
        border-radius: 50px;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        background: linear-gradient(135deg, #276f4d 0%, #0a9554 100%);
      }

      .description {
        margin-top: 20px;

        h5 {
          font-size: 22px;
          color: #1a2037;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          color: #555;
        }
      }
    }
  }

}
