<ion-header>
  <a class="back-btn-header" routerDirection="back" routerLink="/vendeur-pages/client-actions">
    <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
  </a>
  <div class="ion-title text-center">
    @if (gratuite || gratuiteBack) {
    <h5 class="client-name" style="margin-bottom: 0px; font-size: 18px; text-transform: uppercase;">Gratuité</h5>
    } @else if (retour) {
    <h5 class="client-name" style="margin-bottom: 0px; font-size: 18px; text-transform: uppercase;">Retour</h5>
    } @else {
    <h5 class="client-name" style="margin-bottom: 0px; font-size: 18px; text-transform: uppercase;">Nouvelle commande</h5>
    }
  </div>
</ion-header>

<ion-content>
  <div class="horizontal-scroll category-holder">
    <ion-button *ngFor="let category of categories" class="category-btn-item"
      [fill]="selectedCategory === category.value ? 'solid' : 'outline'" color="primary" size="small"
      style="height: 23px;" (click)="segmentChanged(category.value)">
      {{ category.label }}
    </ion-button>
  </div>

  <div class="list-products" style="margin-top: 55px;">
    <ion-searchbar></ion-searchbar>
    @if (retour) {
      <div *ngFor="let item of filteredItems" style="margin-bottom: -88px;">
        <ion-card class="shadow ion-activatable" (click)="openModal(item.item)" [id]="'item' + item.item.id" class="item-container">
          <ion-card-content class="p-0">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="img-item-container">
                  <img class="img-item" [src]="item.item.image" alt="">
                </ion-col>
                <ion-col size="6">
                  <h5 class="item-title">{{ item.item.name | truncate:15 }}</h5>
                  <ion-badge color="success" class="badge-price-item">{{ item.item.price }} Dhs/U</ion-badge><br>
                  <ion-badge color="dark" class="badge-quantity-stock-item">
                    <ion-icon name="repeat-outline" style="margin: 0px 0px -2px 0px;"></ion-icon>
                    {{ item.quantity }} U
                  </ion-badge>

                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
        <ion-col size="3" class="d-flex align-items-center justify-content-center btn-col-container">
          <!-- TODO in binding we used quantity items of products just to show counter -->
          <div>
            <ng-container *ngIf="item.item.maxQuantityDisplayed; else notMax">
              <input class="form-control text-center" type="number" style="height: 30px;" [(ngModel)]="item.item.quantity"
                disabled (input)="updateTotalPrice()" (click)="$event.stopPropagation()">
              <button class="btn max-btn" (click)="resetQuantity(item.item.id, $event)">reset</button>
            </ng-container>
            <ng-template #notMax>
              <input class="form-control text-center" type="number" style="height: 30px;" [(ngModel)]="item.item.quantity"
                (input)="updateTotalPrice()" (click)="$event.stopPropagation()">
              <button class="btn max-btn" (click)="maxQuantity(item.item.id, $event)">MAX</button>
            </ng-template>
          </div>
          <div style="margin-left: 10px;">
            <button class="btn increase-btn" (click)="increaseQuantity(item.item.id, $event)">
              <ion-icon name="add-outline"></ion-icon>
            </button>
            <button class="btn decrease-btn" (click)="decreaseQuantity(item.id, $event)">
              <ion-icon name="remove-outline"></ion-icon>
            </button>
          </div>
        </ion-col>
      </div>

    } @else {
      <div *ngFor="let item of filteredItems" style="margin-bottom: -88px;">
        <ion-card class="shadow ion-activatable" (click)="openModal(item)" [id]="'item' + item.id" class="item-container">
          <ion-card-content class="p-0">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="img-item-container">
                  <img class="img-item" [src]="item.image" alt="">
                </ion-col>
                <ion-col size="6">
                  <h5 class="item-title">{{ item.name | truncate:15 }}</h5>
                  <ion-badge color="success" class="badge-price-item">{{ item.price }} Dhs/U</ion-badge><br>
                  @if (gratuite || gratuiteBack) {
                  <ion-badge color="dark" class="badge-quantity-stock-item">
                    <ion-icon name="cube-outline" style="margin: 0px 0px -2px 0px;"></ion-icon>
                    {{ item.quantityStock - item.quantity }} U
                  </ion-badge>
                  } @else {
                  <ion-badge color="danger" class="badge-quantity-price-item">{{ item.price * item.quantity }}
                    Dhs</ion-badge>
                  }

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
        <ion-col size="3" class="d-flex align-items-center justify-content-center btn-col-container">
          <div>
            <ng-container *ngIf="item.maxQuantityDisplayed; else notMax">
              <input class="form-control text-center" type="number" style="height: 30px;" [(ngModel)]="item.quantity"
                disabled (input)="updateTotalPrice()" (click)="$event.stopPropagation()">
              <button class="btn max-btn" (click)="resetQuantity(item.id, $event)">reset</button>
            </ng-container>
            <ng-template #notMax>
              <input class="form-control text-center" type="number" style="height: 30px;" [(ngModel)]="item.quantity"
                (input)="updateTotalPrice()" (click)="$event.stopPropagation()">
              <button class="btn max-btn" (click)="maxQuantity(item.id, $event)">MAX</button>
            </ng-template>
          </div>
          <div style="margin-left: 10px;">
            <button class="btn increase-btn" (click)="increaseQuantity(item.id, $event)">
              <ion-icon name="add-outline"></ion-icon>
            </button>
            <button class="btn decrease-btn" (click)="decreaseQuantity(item.id, $event)">
              <ion-icon name="remove-outline"></ion-icon>
            </button>
          </div>
        </ion-col>
      </div>
    }

  </div>
</ion-content>

<ion-footer class="ion-padding custom-footer" [translucent]="true">
  <div class="container">
    <div class="row">
      <div class="col">
        <p [ngStyle]="{'color': gratuite || gratuiteBack ? 'green' : 'red'}">Total</p>
      </div>
      <div class="col text-end">
        @if (gratuite || gratuiteBack) {
        <strong style="color: green;">0 Dhs</strong>
        } @else {
        <strong style="color: red;">{{ totalPrice }} Dhs</strong>
        }
      </div>
    </div>
  </div>
  @if (totalPrice > 0) {
    @if (retour) {
      <button class="btn confirmer-btn ion-activatable" (click)="presentAlert()">
        Confirmer
        <ion-ripple-effect></ion-ripple-effect>
      </button>
      <ion-alert [isOpen]="isAlertOpen" header="Confirmer le retour!" [buttons]="alertButtons"></ion-alert>

    } @else {
      <button class="btn confirmer-btn ion-activatable" (click)="goToCommandeDetails()">
        Confirmer
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    }

  } @else {
  <button class="btn confirmer-btn" disabled>
    Confirmer
  </button>
  }

</ion-footer>

<!-- Modal -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <button class="btn btn-back" (click)="setOpen(false)">
        <ion-icon name="close-outline" class="back-icon"></ion-icon>
      </button>
      <div class="ion-title text-center">
        <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px; color: #1a2037;">
          Vue de Produit
        </h5>
      </div>
    </ion-header>
    <ion-content>


      <div class="img-container">
        <img [src]="selectedItem.image" alt="{{ selectedItem.name }}">
      </div>

      <div class="products-infos container">
        <h4 class="item-price mb-1 text-center">{{ selectedItem.price }} Dhs</h4>
        <div class="accordion-item" id="product-name">
          <a href="javascript:void(0)" (click)="toggleAccordion('product-name')" class="accordion-link">
            <h4 class="item-title item-name text-center">{{ selectedItem.name }}</h4>
            <div class="w-100 text-center">
              @if (currentOpen !== 'product-name') {
              <ion-icon class="add-outline shadow" name="arrow-down-outline"></ion-icon>
              } @else {
              <ion-icon class="close-outline shadow" name="close-outline"></ion-icon>
              }
            </div>
          </a>
          <div class="answer" [class.open]="currentOpen === 'product-name'">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tempora ratione sit, quis amet
              repudiandae debitis officia porro minus nam esse laudantium in, ipsam ut aut. Beatae fuga ducimus eius!
            </p>
          </div>
        </div>
        <div class="row product-details" style="margin-top: 15px;">
          <div class="col-6 text-center">
            <ion-badge color="primary" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="cube-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              {{ selectedItem.quantityStock }} unités
            </ion-badge>
          </div>
          <div class="col-6 text-center">
            <ion-badge color="dark" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="list-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              Category
            </ion-badge>
          </div>
        </div>
        <div class="row mt-3 text-center" style="display: flex;
          justify-content: center;
          align-items: center;">
          <button class="btn add-btn-commande"
            (click)="setOpen(false, selectedItem.id); increaseQuantity(selectedItem.id, $event)">
            Ajouter
          </button>

        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
