<ion-header>
  <a class="back-btn-header" routerDirection="back" routerLink="/vendeur-pages/home">
    <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
  </a>
  <div class="ion-title text-center">
    <h5 class="client-name" style="margin-bottom: 0px; font-size: 18px; text-transform: uppercase;">Stock Vehicule</h5>
  </div>
</ion-header>

<ion-content>
  <!-- TODO segments for what can be sell and what is commands that should be dilivered and what is return -->
  <ion-segment value="default" style="height: 60px;">
    <ion-segment-button value="default">
      <ion-label style="font-size: 13px;">Vendable</ion-label>
    </ion-segment-button>
    <ion-segment-button value="commande">
      <ion-label style="font-size: 13px;">Commande</ion-label>
    </ion-segment-button>
    <ion-segment-button value="retour">
      <ion-label style="font-size: 13px;">Retour</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- TODO make the filtered process -->

  <div class="list-products">
    <div *ngFor="let item of filteredItems">
      <ion-card class="shadow" (click)="openModal(item)" [id]="'item' + item.id" class="item-container">
        <ion-card-content class="p-0 ion-activatable">
          <ion-grid>
            <ion-row>
              <ion-col size="3" class="img-item-container">
                <img class="img-item" [src]="item.image" alt="">
              </ion-col>
              <ion-col size="6">
                <h5 class="item-title">{{ item.name | truncate:15 }}</h5>
                <ion-badge color="success" class="badge-price-item">{{ item.price }} Dhs/U</ion-badge><br>
                <ion-badge color="dark" class="badge-quantity-stock-item">
                  <ion-icon name="cube-outline" style="margin: 0px 0px -2px 0px;"></ion-icon>
                  {{ item.quantityStock - item.quantity }} U
                </ion-badge>
              </ion-col>
              <ion-col size="3" class="d-flex align-items-center justify-content-center">
                <ion-icon name="chevron-forward-outline" style="font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <button class="btn new-action-btn" id="open-action-sheet">
    <ion-icon name="list-outline"></ion-icon>
  </button>
  <ion-action-sheet
    trigger="open-action-sheet"
    header="Actions"
    [buttons]="actionSheetButtons"
    (ionActionSheetDidDismiss)="handleActionSheetDismiss($event)"
  ></ion-action-sheet>

</ion-content>

<!-- Modal -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <button class="btn btn-back" (click)="setOpen(false)">
        <ion-icon name="close-outline" class="back-icon"></ion-icon>
      </button>
      <div class="ion-title text-center">
        <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px; color: #1a2037;">
          Vue de Produit
        </h5>
      </div>
    </ion-header>
    <ion-content>


      <div class="img-container">
        <img [src]="selectedItem.image" alt="{{ selectedItem.name }}">
      </div>

      <div class="products-infos container">
        <h4 class="item-price mb-1 text-center">{{ selectedItem.price }} Dhs</h4>
        <div class="accordion-item" id="product-name">
          <a href="javascript:void(0)" (click)="toggleAccordion('product-name')" class="accordion-link">
            <h4 class="item-title item-name text-center">{{ selectedItem.name }}</h4>
            <div class="w-100 text-center">
              @if (currentOpen !== 'product-name') {
              <ion-icon class="add-outline shadow" name="arrow-down-outline"></ion-icon>
              } @else {
              <ion-icon class="close-outline shadow" name="close-outline"></ion-icon>
              }
            </div>
          </a>
          <div class="answer" [class.open]="currentOpen === 'product-name'">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tempora ratione sit, quis amet
              repudiandae debitis officia porro minus nam esse laudantium in, ipsam ut aut. Beatae fuga ducimus eius!
            </p>
          </div>
        </div>
        <div class="row product-details" style="margin-top: 15px;">
          <div class="col-6 text-center">
            <ion-badge color="primary" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="cube-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              {{ selectedItem.quantityStock }} unités
            </ion-badge>
          </div>
          <div class="col-6 text-center">
            <ion-badge color="dark" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="list-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              Category
            </ion-badge>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
