ion-content {
  .btn-back {
    background: none;
    border: none;
    position: absolute;
    top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    background-color: #e3dfdf;
    border-radius: 0px 0px 40px 40px;
    height: 40%;

    img {
      width: 366px;
    }
  }

  .products-infos {
    margin-top: 80px;

    .item-title {
      font-size: 30px;
      color: #1a2037;
      text-transform: capitalize;
    }
  }
}
