<ion-content>
  <button class="btn btn-back">
    <ion-icon name="chevron-back-outline" style="font-size: 25px; color: rgb(61, 61, 61);"></ion-icon>
  </button>
  <div class="img-container">
    <img [src]="item.image" alt="">
  </div>


  <div class="products-infos container">
    <h1 class="item-title">{{ item.name }}</h1>
    <ion-badge color="primary">{{ item.quantityStock }} Unités</ion-badge>
    <ion-badge color="success">{{ item.price }} Dhs</ion-badge>
    <ion-badge color="dark">{{ item.category }}</ion-badge>
    <div class="ion-padding">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur ex, eaque dolor magnam eius repudiandae aspernatur, voluptas modi dolores laudantium vero velit delectus est adipisci perferendis autem dignissimos molestiae ea.
      </p>
    </div>
  </div>

</ion-content>
