<ion-header class="ion-header-cheking">
  <a class="back-btn-header" routerDirection="back" routerLink="/magasinier-pages/home">
    <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
  </a>
  <div class="ion-title text-center">
    <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px; color: white;">
      Charges
    </h5>
  </div>
</ion-header>

<ion-content class="ion-padding" style="--background: white;">
  <ion-card class="gratuite-card charge-card shadow ion-activatable" (click)="goToDetailAction()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="info-item">
              <ion-icon name="reload-outline" class="me-2"></ion-icon>
              <strong>Transfert #1</strong>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item text-end">
              <span style="font-size: 12px; margin-left: auto;">20-03-2024 09:23</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 0px -10px 0px">
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon name="radio-button-on-outline" class="me-2" style="font-size: 10px; color: green;"></ion-icon>
              <span style="font-size: 12px;">Confirmé</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="person-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Vendeur 1</span>

            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col size="9">
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="cube-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">
                10 U.Pizzarella, 5 U.Pizza Cheese
              </span>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="info-item">
              <ion-icon name="chevron-forward-outline" style="margin-left: auto;"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card class="gratuite-card charge-card shadow ion-activatable" (click)="goToDetailAction()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="info-item">
              <ion-icon name="reload-outline" class="me-2"></ion-icon>
              <strong>Transfert #1</strong>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item text-end">
              <span style="font-size: 12px; margin-left: auto;">20-03-2024 09:23</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 0px -10px 0px">
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon name="radio-button-on-outline" class="me-2" style="font-size: 10px; color: green;"></ion-icon>
              <span style="font-size: 12px;">Confirmé</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="person-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Vendeur 1</span>

            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col size="9">
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="cube-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">
                10 U.Pizzarella, 5 U.Pizza Cheese
              </span>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="info-item">
              <ion-icon name="chevron-forward-outline" style="margin-left: auto;"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card class="gratuite-card charge-card shadow ion-activatable" (click)="goToDetailAction()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="info-item">
              <ion-icon name="reload-outline" class="me-2"></ion-icon>
              <strong>Transfert #1</strong>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item text-end">
              <span style="font-size: 12px; margin-left: auto;">20-03-2024 09:23</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 0px -10px 0px">
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon name="radio-button-on-outline" class="me-2" style="font-size: 10px; color: green;"></ion-icon>
              <span style="font-size: 12px;">Confirmé</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="person-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Vendeur 1</span>

            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col size="9">
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="cube-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">
                10 U.Pizzarella, 5 U.Pizza Cheese
              </span>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="info-item">
              <ion-icon name="chevron-forward-outline" style="margin-left: auto;"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>
