<ion-header>
  @if (demandes) {
    <a class="back-btn-header" routerDirection="back" routerLink="/responsable-pages/demandes">
      <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
    </a>
  } @else if (gratuites) {
    <a class="back-btn-header" routerDirection="back" routerLink="/responsable-pages/gratuites">
      <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
    </a>
  } @else {
    <a class="back-btn-header" routerDirection="back" routerLink="/responsable-pages/bon-livraison">
      <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
    </a>
  }


  <div class="ion-title text-center">
    @if (demandes) {
      <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px;">
        détails de la demande
      </h5>
    } @else {
      <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px;">
        détails de la commande
      </h5>
    }

  </div>
  <a class="back-btn-home" routerLink="/responsable-pages/home">
    <ion-icon name="home-outline" style="font-size: 25px; color: white;"></ion-icon>
  </a>
</ion-header>

<ion-content>
  <ion-card class="client-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="info-item">
              <ion-icon name="albums-outline" class="me-2"></ion-icon>
              <strong>Commande N:1</strong>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item text-end">
              <strong style="margin-left: auto;">{{ totalPrice }} Dhs</strong>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 0px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="sync-circle-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">En cours</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
              <ion-badge color="danger" style="margin-left: auto; font-size: 10px;">500 Dhs</ion-badge>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="time-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">20-03-2024 09:23</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="person-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Client name</span>
              <ion-badge color="danger"
                style="margin-left: auto; font-size: 8px; border-radius: 30px; padding-top: 2px; padding-bottom: 2px;">Douteux</ion-badge>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px -10px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="create-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Note</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <div class="list-products" style="margin-top: 25px;">
    <ion-item-sliding *ngFor="let item of items" [disabled]="true">
      <ion-item>
        <ion-card class="ion-activatable" (click)="openModal(item)">
          <ion-card-content class="p-0">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="img-item-container">
                  <img class="img-item" [src]="item.image" alt="">
                </ion-col>
                <ion-col size="6">
                  <h5 class="item-title">{{ item.name | truncate:15 }}</h5>
                  <ion-badge color="success" class="badge-price-item">{{ item.price }} Dhs/U</ion-badge><br>
                  <ion-badge color="dark" class="badge-quantity-stock-item">
                    <ion-icon name="cube-outline" style="margin: 0px 0px -2px 0px;"></ion-icon>
                    {{ item.quantityStock - item.quantity }} U
                  </ion-badge>
                </ion-col>
                <ion-col size="3" class="d-flex align-items-center justify-content-center">
                  <ion-icon name="chevron-forward-outline" style="font-size: 25px;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-item>
      <!-- <ion-alert [isOpen]="isAlertOpen" header="Confirmer à supprimer?" [buttons]="alertButtons"></ion-alert> -->

    </ion-item-sliding>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="d-flex justify-content-center align-items-center">
      @if (demandes || gratuites) {
        <ion-col class="d-flex justify-content-center align-items-center">
          <button class="btn confirmer-btn-demande" (click)="confirmerAction()">
            Confirmer
          </button>
        </ion-col>
        <ion-col class="d-flex justify-content-center align-items-center">
          <button class="btn refus-btn-demande" (click)="refuserAction()">
            Refuser
          </button>
        </ion-col>
      } @else {
        <ion-col size="4" class="mb-3">
          <div class="ag-courses_item shadow zoom-effect">
            <div class="ag-courses-item_link">
              <ion-icon name="print-outline" class="icon-large"></ion-icon>
              <div class="ag-courses-item_bg ag-courses-item_bg-imprimer"></div>
              <div class="ag-courses-item_title text-center">
                <h3>Imprimer</h3>
              </div>
            </div>
          </div>
        </ion-col>
      }
      <!-- <ion-alert [isOpen]="isCancelAlertOpen" header="Annuler la commande?" [buttons]="alertCancelButtons"></ion-alert> -->
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- Modal view product -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <button class="btn btn-back" (click)="setOpen(false)">
        <ion-icon name="close-outline" class="back-icon"></ion-icon>
      </button>
      <div class="ion-title text-center">
        <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px; color: #1a2037;">
          Vue de Produit
        </h5>
      </div>
    </ion-header>
    <ion-content>
      <div class="img-container">
        <img [src]="selectedItem.image" alt="{{ selectedItem.name }}">
      </div>

      <div class="products-infos container">
        <h4 class="item-price mb-1 text-center">{{ selectedItem.price }} Dhs</h4>
        <div class="accordion-item" id="product-name">
          <a href="javascript:void(0)" (click)="toggleAccordion('product-name')" class="accordion-link">
            <h4 class="item-title item-name text-center">{{ selectedItem.name }}</h4>
            <div class="w-100 text-center">
              @if (currentOpen !== 'product-name') {
              <ion-icon class="add-outline shadow" name="arrow-down-outline"></ion-icon>
              } @else {
              <ion-icon class="close-outline shadow" name="close-outline"></ion-icon>
              }
            </div>
          </a>
          <div class="answer" [class.open]="currentOpen === 'product-name'">
            <p style="margin: 0;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tempora ratione sit, quis amet
              repudiandae debitis officia porro minus nam esse laudantium in, ipsam ut aut. Beatae fuga ducimus eius!
            </p>
          </div>
        </div>
        <div class="row product-details" style="margin-top: 15px;">
          <div class="col-6 text-center">
            <ion-badge color="primary" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="cube-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              {{ selectedItem.quantityStock }} unités
            </ion-badge>
          </div>
          <div class="col-6 text-center">
            <ion-badge color="dark" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="list-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              Category
            </ion-badge>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
