<nav class="menu">
  <a class="nav-item nav-item-t" (click)="selectTab('home')" routerLink="/vendeur-pages/home">
    <ion-icon [name]="selectedTab === 'home' ? 'home' : 'home-outline'"></ion-icon>
    <p class="nav-item-text" [ngClass]="{'nav-item-text-active': selectedTab === 'home'}">Home</p>
  </a>

  <a class="nav-item nav-item-t" (click)="selectTab('demandes')" routerLink="/vendeur-pages/demandes">
    <ion-icon [name]="selectedTab === 'demandes' ? 'documents' : 'documents-outline'"></ion-icon>
    <p class="nav-item-text" [ngClass]="{'nav-item-text-active': selectedTab === 'demandes'}">Demandes</p>
  </a>

  <a class="nav-item nav-item-t" (click)="selectTab('notifications')" >
    <ion-icon [name]="selectedTab === 'notifications' ? 'notifications' : 'notifications-outline'"></ion-icon>
    <p class="nav-item-text" [ngClass]="{'nav-item-text-active': selectedTab === 'notifications'}">Notification</p>
  </a>

  <a class="nav-item nav-item-t" (click)="selectTab('support')" >
    <ion-icon [name]="selectedTab === 'support' ? 'settings' : 'settings-outline'"></ion-icon>
    <p class="nav-item-text" [ngClass]="{'nav-item-text-active': selectedTab === 'support'}">Support</p>
  </a>
</nav>
