<ion-header>
  <a class="back-btn-header" routerDirection="back" routerLink="/vendeur-pages/make-commande">
    <ion-icon name="chevron-back-outline" style="font-size: 25px; color: white;"></ion-icon>
  </a>
  <div class="ion-title text-center">
    <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px;">détails de la
      commande</h5>
  </div>
  <a class="back-btn-home" (click)="presentCancelAlert(true)">
    <ion-icon name="home-outline" style="font-size: 25px; color: white;"></ion-icon>
  </a>
</ion-header>

<ion-content>
  <ion-card class="client-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="info-item">
              <ion-icon name="albums-outline" class="me-2"></ion-icon>
              <strong>Commande N:1</strong>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item text-end">
              @if (gratuite) {
              <strong style="margin-left: auto;">0 Dhs</strong>
              } @else {
              <strong style="margin-left: auto;">{{ totalPrice }} Dhs</strong>
              }
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin: 0px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="sync-circle-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">En cours</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
              @if (gratuite) {
              <ion-badge color="success" style="margin-left: auto; font-size: 10px;">Gratuité</ion-badge>
              } @else {
              <ion-badge color="danger" style="margin-left: auto; font-size: 10px;">500 Dhs</ion-badge>
              }
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="time-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">20-03-2024 09:23</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="person-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Client name</span>
              <ion-badge color="danger"
                style="margin-left: auto; font-size: 8px; border-radius: 30px; padding-top: 2px; padding-bottom: 2px;">Douteux</ion-badge>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px -10px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="create-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Note</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
            </div>
          </ion-col>
        </ion-row>
        @if (paiement.id !== 0) {
        <hr>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="wallet-outline" class="me-2"></ion-icon>
              <span style="font-size: 12px;">Mode de paiement</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item">
              <p style="margin-left: auto;">{{paiement.modePaiement}}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin: -10px -10px 0px">
          <ion-col>
            <div class="info-item">
              <ion-icon style="font-size: 10px;" name="cash-outline" class="me-2"></ion-icon>
              <strong style="font-size: 12px;">Montant payée</strong>
            </div>
          </ion-col>
          <ion-col>
            <div class="info-item"><strong style="margin-left: auto;">{{paiement.montant}} Dhs</strong></div>
          </ion-col>
        </ion-row>
        }



      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="list-products" style="margin-top: 25px;">
    <ion-item-sliding *ngFor="let item of commande">
      <ion-item>
        <ion-card class="ion-activatable" (click)="openModal(item)">
          <ion-card-content class="p-0">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="img-item-container">
                  <img class="img-item" [src]="item.image" alt="">
                </ion-col>
                <ion-col size="6">
                  <h5 class="item-title">{{ item.name | truncate:15 }}</h5>
                  <ion-badge color="success" class="badge-price-item">{{ item.price }} Dhs/U</ion-badge><br>
                  @if (gratuite) {
                    <ion-badge color="dark" class="badge-quantity-stock-item">
                      <ion-icon name="cube-outline" style="margin: 0px 0px -2px 0px;"></ion-icon>
                      {{ item.quantityStock - item.quantity }} U
                    </ion-badge>
                  } @else {
                    <ion-badge color="danger" class="badge-quantity-price-item">{{ item.price * item.quantity }}
                      Dhs</ion-badge>
                  }
                </ion-col>
                <ion-col size="3" class="d-flex align-items-center justify-content-center btn-col-container">
                  <div>
                    <ng-container *ngIf="item.maxQuantityDisplayed; else notMax">
                      <input class="form-control text-center" type="number" style="height: 30px;"
                        [(ngModel)]="item.quantity" disabled (input)="updateTotalPrice()"
                        (click)="$event.stopPropagation()">
                      <button class="btn max-btn" (click)="resetQuantity(item.id, $event)">reset</button>
                    </ng-container>
                    <ng-template #notMax>
                      <input class="form-control text-center" type="number" style="height: 30px;"
                        [(ngModel)]="item.quantity" (input)="updateTotalPrice()" (click)="$event.stopPropagation()">
                      <button class="btn max-btn" (click)="maxQuantity(item.id, $event)">MAX</button>
                    </ng-template>
                  </div>
                  <div style="margin-left: 10px;">
                    <button class="btn increase-btn" (click)="increaseQuantity(item.id, $event)">
                      <ion-icon name="add-outline"></ion-icon>
                    </button>
                    <button class="btn decrease-btn" (click)="decreaseQuantity(item.id, $event)">
                      <ion-icon name="remove-outline"></ion-icon>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlert(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <!-- <ion-alert [isOpen]="isAlertOpen" header="Confirmer à supprimer?" [buttons]="alertButtons"></ion-alert> -->

    </ion-item-sliding>


  </div>
  <button class="btn edit-commande-btn" (click)="backMakeMakeCommande()">
    <ion-icon name="add-outline"></ion-icon>
  </button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="d-flex justify-content-center align-items-center">
      <ion-col size="4" class="mb-3">
        @if (gratuite) {
          <div class="ag-courses_item shadow zoom-effect">
            <div class="ag-courses-item_link">
              <ion-icon name="print-outline" class="icon-large"></ion-icon>
              <div class="ag-courses-item_bg ag-courses-item_bg-imprimer"></div>
              <div class="ag-courses-item_title text-center">
                <h3>Imprimer</h3>
              </div>
            </div>
          </div>
        } @else {
          <div class="ag-courses_item shadow zoom-effect" (click)="setEncaisserOpen(true)">
            <div class="ag-courses-item_link">
              <ion-icon name="wallet-outline" class="icon-large"></ion-icon>
              <div class="ag-courses-item_bg ag-courses-item_bg-encaisser"></div>
              <div class="ag-courses-item_title text-center">
                <h3>Encaisser</h3>
              </div>
            </div>
          </div>
        }

      </ion-col>
      @if (paiement.id !== 0) {
      <ion-col size="4" class="mb-3">
        <div class="ag-courses_item shadow zoom-effect" #itemElement>
          <div class="ag-courses-item_link">
            <ion-icon name="print-outline" class="icon-large"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-imprimer"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Imprimer</h3>
            </div>
          </div>
        </div>
      </ion-col>
      }

      <ion-col size="4" class="mb-3">
        <div class="ag-courses_item shadow zoom-effect" (click)="presentCancelAlert()">
          <div class="ag-courses-item_link">
            <ion-icon name="close-outline" class="icon-large"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-annuler"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Annuler</h3>
            </div>
          </div>
        </div>
      </ion-col>
      <!-- <ion-alert [isOpen]="isCancelAlertOpen" header="Annuler la commande?" [buttons]="alertCancelButtons"></ion-alert> -->
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- Modal view product -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <button class="btn btn-back" (click)="setOpen(false)">
        <ion-icon name="close-outline" class="back-icon"></ion-icon>
      </button>
      <div class="ion-title text-center">
        <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px; color: #1a2037;">
          Vue de Produit
        </h5>
      </div>
    </ion-header>
    <ion-content>
      <div class="img-container">
        <img [src]="selectedItem.image" alt="{{ selectedItem.name }}">
      </div>

      <div class="products-infos container">
        <h4 class="item-price mb-1 text-center">{{ selectedItem.price }} Dhs</h4>
        <div class="accordion-item" id="product-name">
          <a href="javascript:void(0)" (click)="toggleAccordion('product-name')" class="accordion-link">
            <h4 class="item-title item-name text-center">{{ selectedItem.name }}</h4>
            <div class="w-100 text-center">
              @if (currentOpen !== 'product-name') {
              <ion-icon class="add-outline shadow" name="arrow-down-outline"></ion-icon>
              } @else {
              <ion-icon class="close-outline shadow" name="close-outline"></ion-icon>
              }
            </div>
          </a>
          <div class="answer" [class.open]="currentOpen === 'product-name'">
            <p style="margin: 0;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tempora ratione sit, quis amet
              repudiandae debitis officia porro minus nam esse laudantium in, ipsam ut aut. Beatae fuga ducimus eius!
            </p>
          </div>
        </div>
        <div class="row product-details" style="margin-top: 15px;">
          <div class="col-6 text-center">
            <ion-badge color="primary" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="cube-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              {{ selectedItem.quantityStock }} unités
            </ion-badge>
          </div>
          <div class="col-6 text-center">
            <ion-badge color="dark" style="padding: 5px 10px 5px 10px;
              border-radius: 30px;
              font-size: 16px;">
              <ion-icon name="list-outline" style="font-size: 15px; margin: 0px 0px -2px 0px;"></ion-icon>
              Category
            </ion-badge>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border ion-padding">
      <div class="row mt-3 text-center" style="display: flex;
        justify-content: center;
        align-items: center;">
        <button class="btn delete-btn-commande" (click)="presentAlert2(selectedItem)">
          Supprimer
        </button>
        <!-- <ion-alert [isOpen]="isAlertOpen2" header="Confirmer à supprimer?" [buttons]="alertButtons2"></ion-alert> -->
      </div>
    </ion-footer>
  </ng-template>
</ion-modal>

<!-- Modal for encaisser -->
<ion-modal [isOpen]="isEncaisserModalOpen">
  <ng-template>
    <ion-header class="ion-header-cheking">
      <button class="btn btn-back" (click)="setEncaisserOpen(false)">
        <ion-icon name="close-outline" class="back-icon" style="color: white;"></ion-icon>
      </button>
      <div class="ion-title text-center">
        <h5 class="client-name" style="margin-bottom: 0px; text-transform: uppercase; font-size: 18px; color: white;">
          Enregistrer un paiement
        </h5>
      </div>
    </ion-header>
    <ion-content style="--background: #ffffff;">
      <ion-card class="client-card">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="info-item">
                  <ion-icon name="albums-outline" class="me-2"></ion-icon>
                  <strong>Commande N:1</strong>
                </div>
              </ion-col>
              <ion-col>
                <div class="info-item text-end">
                  <strong style="margin-left: auto;">{{ totalPrice }} Dhs</strong>
                </div>
              </ion-col>
            </ion-row>
            <hr>
            <div class="accordion-item m-0" id="display-products">
              <a href="javascript:void(0)" (click)="toggleAccordion('display-products')" class="accordion-link">
                <div class="w-100 text-center">
                  @if (currentOpen !== 'display-products') {
                  <ion-icon class="add-outline shadow" name="arrow-down-outline" style="font-size: 15px;
                    padding: 5px 25px 5px 25px;"></ion-icon>
                  } @else {
                  <ion-icon class="close-outline shadow" name="close-outline" style="font-size: 15px;
                    padding: 5px 25px 5px 25px;"></ion-icon>
                  }
                </div>
              </a>
              <div class="answer" [class.open]="currentOpen === 'display-products'">
                @for (item of commande; track $index) {
                <ion-row style="margin: 0px -10px 0px">
                  <ion-col>
                    <div class="info-item">
                      <ion-badge color="dark" style="font-size: 10px; padding-inline: 6px;"
                        class="me-2">{{item.quantity}}</ion-badge>
                      <span style="font-size: 12px;">{{ item.name | truncate:20 }}</span>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="info-item">
                      <ion-badge color="success"
                        style="margin-left: auto; font-size: 10px; padding-inline: 6px; border-radius: 30px; width: 60px;">{{item.quantity
                        * item.price}} Dhs</ion-badge>
                    </div>
                  </ion-col>
                </ion-row>
                }
              </div>
            </div>


          </ion-grid>
        </ion-card-content>
      </ion-card>
      <div class="encaisser-infos container mt-3">
        <div class="mb-3">
          <label for="montant" class="form-label">Montant</label>
          <input type="number" class="form-control" id="montant" placeholder="Enter montant" required
            [(ngModel)]="paiement.montant">
        </div>
        <fieldset class="mb-3">
          <legend class="col-form-label form-label">Mode de Paiement</legend>
          <div class="container d-flex align-items-center justify-content-center">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentMethod" id="especes" value="especes"
                [(ngModel)]="paiement.modePaiement">
              <label class="form-check-label" for="especes">
                Espèces
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentMethod" id="cheque" value="cheque"
                [(ngModel)]="paiement.modePaiement">
              <label class="form-check-label" for="cheque">
                Chèque
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentMethod" id="effet" value="effet"
                [(ngModel)]="paiement.modePaiement">
              <label class="form-check-label" for="effet">
                Effet
              </label>
            </div>
          </div>
        </fieldset>
        <div class="mb-3">
          <label for="note" class="form-label">Note</label>
          <input class="form-control" type="text" id="note" placeholder="Enter your notes here"
            [(ngModel)]="paiement.note">
        </div>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border ion-padding" style="background: #ffffff;">
      <div class="row mt-3 text-center" style="display: flex;
        justify-content: center;
        align-items: center;">
        <button class="btn confirmer-btn-commande" (click)="confirmPaiement()">
          Confirmer
        </button>
      </div>
    </ion-footer>
  </ng-template>
</ion-modal>
