<ion-header>
  <ion-img class="ion-logo" src="assets\img\LOGO-GASTROMIXTE-RGB-2.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-header">
    <div class="row">
      <div id="click-trigger" class="col-md-6 w-25" style="padding-inline: 20px;">
        <div class="profile-img profile-img-container">
          <img class="profile-img" src="assets/img/bruce-mars.jpg" alt="Bruce Mars">
        </div>
      </div>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding disconnected-button">Se deconnecter !</ion-content>
        </ng-template>
      </ion-popover>

      <div class="col w-75 profile-info" style="padding: 10px;">
        <div class="row">
          <div class="col">
            <h1 class="profile-name m-0" style="color: white;">Bruce Mars</h1>
            <p class="profile-mission" style="color: #a5a5a5;"><ion-icon name="briefcase-outline" style="margin-bottom: 3px;"></ion-icon> Mission:
              Vendeur</p>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="profile-img profile-img-container" style="
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              padding: 0;
            ">
              <button expand="block" (click)="setOpen(true)" style="background: none; border-radius: 50px;    background: none;
              border-radius: 50px;
              display: flex;
              align-items: center;
              justify-content: center;">
                <ion-icon name="pencil-outline" style="color: white; font-size: 22px;"></ion-icon>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 mb-4" (click)="navigateToClients()">
        <div class="ag-courses_item shadow zoom-effect">
          <div class="ag-courses-item_link">
            <ion-icon name="people-outline"></ion-icon>
            <div class="ag-courses-item_bg"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Mes Clients</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect" (click)="navigateToTournes()">
          <div class="ag-courses-item_link">
            <ion-icon name="car-outline"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-tourne"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Tournes</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect" (click)="navigateToReglement()">
          <div class="ag-courses-item_link">
            <ion-icon name="card-outline"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-reglem"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Reglement en cours</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect" (click)="navigateToBL()">
          <div class="ag-courses-item_link">
            <ion-icon name="document-text-outline"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-bl"></div>
            <div class="ag-courses-item_title text-center">
              <h3>BL en cours</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect" (click)="navigateToStockVehicule()">
          <div class="ag-courses-item_link">
            <ion-icon name="cube-outline"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-stock"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Mon stock</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect" (click)="navigateTotrasnfertList()">
          <div class="ag-courses-item_link">
            <ion-icon name="time-outline"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-historique"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Historique Transfert</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect">
          <div class="ag-courses-item_link">
            <ion-icon name="qr-code-outline"></ion-icon>
            <div class="ag-courses-item_bg ag-courses-item_bg-qr"></div>
            <div class="ag-courses-item_title text-center">
              <h3>Mon code QR</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mb-4">
        <div class="ag-courses_item shadow zoom-effect">
          <a href="tel:+1234567890" style="text-decoration: none;">
            <div class="ag-courses-item_link">
              <ion-icon name="call-outline"></ion-icon>
              <div class="ag-courses-item_bg ag-courses-item_bg-appel"></div>
              <div class="ag-courses-item_title text-center">
                <h3>Appeler responsable</h3>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header style="height: 69px;">
        <div class="modal-container-header">
          <div class="row">
            <div class="col-md-6 w-25"
              style="padding-inline: 20px; display: flex; align-items: center; justify-content: center;">
              <div class="profile-img profile-img-container"
                style="padding: 8px; background: rgba(255, 255, 255, 0.28); border-radius: 35px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px); border: 1px solid rgba(255, 255, 255, 0.23); display: flex;">
                <img class="profile-img" src="assets/img/bruce-mars.jpg" alt="Bruce Mars"
                  style="width: 111px; border-radius: 50%;">
              </div>
            </div>
            <div class="col w-75 profile-info" style="padding: 10px;">
              <div class="row">
                <div class="col" style="padding: 0;">
                  <h5 class="profile-name m-0" style="color: white;">Bruce Mars</h5>
                  <p class="profile-mission" style="color: #a5a5a5; font-size: 13px; margin: 0;">
                    <ion-icon name="briefcase-outline" style="margin-bottom: -1px;"></ion-icon> Mission: Vendeur
                  </p>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                  <div class="profile-img profile-img-container"
                    style="display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; padding: 0;">
                    <button (click)="setOpen(false)" style="background: none; border-radius: 50px;">
                      <ion-icon name="close-outline" style="color: white; font-size: 28px;"></ion-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-header>
      <ion-content class="ion-padding" style="--background: white;">
        <ion-segment [(ngModel)]="selectedSegment" style="position: absolute; top: 0; left: 0; height: 55px;">
          <ion-segment-button value="informations" (click)="changeSegmentColorLabel('Informations')" [style]="colorStyleInfo">
            <ion-label>Informations</ion-label>
          </ion-segment-button>
          <ion-segment-button value="securite" (click)="changeSegmentColorLabel('Securite')" [style]="colorStyleSec">
            <ion-label>Sécurité</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="selectedSegment === 'informations'" class="informations" style="margin-top: 60px;">
          <ion-card class="m-0">
            <ion-card-header>
              <ion-card-title style="color: #535353;" class="text-center">Modifier les Informations</ion-card-title>
            </ion-card-header>
            <hr class="m-0">
            <ion-card-content>
              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" placeholder="Entrer votre prénom">
              </div>
              <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Entrer votre nom">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Entrer votre email">
              </div>
            </ion-card-content>
          </ion-card>
          <div class="row mt-4">
            <div class="col" style="flex: 0 0 50%; max-width: 50%;">
              <ion-button fill="outline" style="width: 100%;
              color: white;
              --background: #0054e9;
              border-color: #0054e9;">Enregistrer</ion-button>
            </div>
            <div class="col" style="flex: 0 0 50%; max-width: 50%;">
              <ion-button fill="outline" style="width: 100%;">Annuler</ion-button>
            </div>
          </div>
        </div>

        <div *ngIf="selectedSegment === 'securite'" class="securite" style="margin-top: 60px;">
          <ion-card class="m-0">
            <ion-card-header>
              <ion-card-title style="color: #535353;" class="text-center">Securite</ion-card-title>
            </ion-card-header>
            <hr class="m-0">
            <ion-card-content>
              <div class="mb-3">
                <label for="current-password" class="form-label">Mot de passe actuelle</label>
                <div style="display: flex;
                justify-content: center;
                align-items: center;">
                  <input type="password" class="form-control" id="current-password"
                    placeholder="Entrer votre actuelle ici" style="padding-right: 27px;">
                  <button class="toggle-password" (click)="togglePassword('current-password', $event)"
                    style="background: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 88%;">
                    <ion-icon name="eye-off-outline" style="color: #757272; font-size: 17px;"></ion-icon>
                  </button>
                </div>

              </div>
              <div class="mb-3">
                <label for="new-password" class="form-label">Nouveau mot de passe</label>
                <div style="display: flex;
                justify-content: center;
                align-items: center;">
                  <input type="password" class="form-control" id="new-password" placeholder="Entrer le nouveau ici" style="padding-right: 27px;">
                  <button class="toggle-password" (click)="togglePassword('new-password', $event)"
                    style="background: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 88%;">
                    <ion-icon name="eye-off-outline" style="color: #757272; font-size: 17px;"></ion-icon>
                  </button>
                </div>
              </div>
              <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirme mot de passe</label>
                <div style="display: flex;
                justify-content: center;
                align-items: center;">
                  <input type="password" class="form-control" id="confirm-password" placeholder="Confirmer ici" style="padding-right: 27px;">
                  <button class="toggle-password" (click)="togglePassword('confirm-password', $event)"
                    style="background: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 88%;">
                    <ion-icon name="eye-off-outline" style="color: #757272; font-size: 17px;"></ion-icon>
                  </button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <div class="row mt-4">
            <div class="col" style="flex: 0 0 50%; max-width: 50%;">
              <ion-button fill="outline" style="width: 100%;
              color: white;
              --background: #0054e9;
              border-color: #0054e9;">Enregistrer</ion-button>
            </div>
            <div class="col" style="flex: 0 0 50%; max-width: 50%;">
              <ion-button fill="outline" style="width: 100%;">Annuler</ion-button>
            </div>
          </div>
        </div>


      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
