<ion-header>
  <ion-img class="ion-logo" src="assets\img\LOGO-GASTROMIXTE-RGB-2.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-header">
    <div class="row">
      <div class="col-md-6 w-25" style="padding-inline: 20px;">
        <div class="profile-img profile-img-container">
          <img class="profile-img" src="assets/img/bruce-mars.jpg" alt="Bruce Mars">
        </div>
      </div>
      <div class="col w-75 profile-info" style="padding: 10px;">
        <div class="row">
          <div class="col">
            <h1 class="profile-name m-0" style="color: white;">Bruce Mars</h1>
            <p class="profile-mission" style="color: #a5a5a5;"><ion-icon name="briefcase-outline"></ion-icon> Mission:
              Vendeur</p>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="profile-img profile-img-container" style="
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              padding: 0;
            ">
              <ion-icon name="pencil-outline" style="color: white; font-size: 22px;"></ion-icon>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-mission-infos">

    </div>
  </div>
  <div class="container">
    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="people-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Mes Vendeurs</h3>
          <div class="card-list-infos infos-clients">
            <div class="row">
              <div class="col">
                <p class="info-item">Totals Clients:</p>
                <p class="info-item">Inactive Clients:</p>
                <p class="info-item">Total plafond:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">15</span><br>
                <span class="badge bg-secondary">3</span><br>
                <span class="badge bg-primary">20</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="car-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Tournes</h3>
          <div class="card-list-infos infos-tournes">
            <div class="row">
              <div class="col">
                <p class="info-item">infos tourne 1:</p>
                <p class="info-item">infos tourne 2:</p>
                <p class="info-item">infos tourne 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">15</span><br>
                <span class="badge bg-secondary">3</span><br>
                <span class="badge bg-primary">20</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="card-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Reglement en cours</h3>
          <div class="card-list-infos infos-reglement">
            <div class="row">
              <div class="col">
                <p class="info-item">infos reglem 1:</p>
                <p class="info-item">infos reglem 2:</p>
                <p class="info-item">infos reglem 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">15</span><br>
                <span class="badge bg-secondary">3</span><br>
                <span class="badge bg-primary">20</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="document-text-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>BL en cours</h3>
          <div class="card-list-infos infos-bl">
            <div class="row">
              <div class="col">
                <p class="info-item">Infos BL 1:</p>
                <p class="info-item">Infos BL 2:</p>
                <p class="info-item">Infos BL 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">10</span><br>
                <span class="badge bg-secondary">5</span><br>
                <span class="badge bg-primary">8</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="cube-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Mon stock</h3>
          <div class="card-list-infos infos-stock">
            <div class="row">
              <div class="col">
                <p class="info-item">Stock Item 1:</p>
                <p class="info-item">Stock Item 2:</p>
                <p class="info-item">Stock Item 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">25</span><br>
                <span class="badge bg-secondary">10</span><br>
                <span class="badge bg-primary">30</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="time-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Historique Transfert</h3>
          <div class="card-list-infos infos-historique">
            <div class="row">
              <div class="col">
                <p class="info-item">Transfer 1:</p>
                <p class="info-item">Transfer 2:</p>
                <p class="info-item">Transfer 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">12</span><br>
                <span class="badge bg-secondary">7</span><br>
                <span class="badge bg-primary">15</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="qr-code-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Mon code QR</h3>
          <div class="card-list-infos infos-qr">
            <div class="row">
              <div class="col">
                <p class="info-item">QR Code Info 1:</p>
                <p class="info-item">QR Code Info 2:</p>
                <p class="info-item">QR Code Info 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">5</span><br>
                <span class="badge bg-secondary">3</span><br>
                <span class="badge bg-primary">7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-courses_item shadow">
      <div class="ag-courses-item_link">
        <ion-icon name="call-outline"></ion-icon>
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <h3>Appeler responsable</h3>
          <div class="card-list-infos infos-appelle">
            <div class="row">
              <div class="col">
                <p class="info-item">Responsable 1:</p>
                <p class="info-item">Responsable 2:</p>
                <p class="info-item">Responsable 3:</p>
              </div>
              <div class="col">
                <span class="badge bg-success">2</span><br>
                <span class="badge bg-secondary">1</span><br>
                <span class="badge bg-primary">4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>
